# PATH=$PATH:/home/araozmd/.local/share/gem/ruby/3.0.0/bin
xrandr --output HDMI-0 --mode 2560x1440 --pos 2560x0 --rotate left --rate 144 --output DP-0 --off --output DP-1 --off --output DP-2 --primary --mode 2560x1440 --pos 0x490 --rate 143.97 --output DP-3 --off --output HDMI-1 --off
# Composer
picom &
# Wallpaper
nitrogen --restore &
# Keyboard layout
setxkbmap latam &
# Java Fonts
# xsettingsd &
# USB support
udiskie -t &
# Network
nm-applet &
# Lock Screen
light-locker &
# SSH Agent
# eval $(ssh-agent) &
# nvidia-settings -a InitialPixmapPlacement=2 &
# xrdb ~/.Xresources
# xinput --set-prop 28 'libinput Accel Speed' -0.6 & # Razer mouse speed

# Notifications
deadd-notification-center &
