# PATH=$PATH:/home/araozmd/.local/share/gem/ruby/3.0.0/bin
# Composer
picom &
# Wallpaper
nitrogen --restore &
# Keyboard Layout
setxkbmap latam &
# Java Fonts
xsettingsd &
# USB support
udiskie -t &
# Network
nm-applet &
# Lock Screen
light-locker &
# SSH Agent
eval $(ssh-agent) &
nvidia-settings -a InitialPixmapPlacement=2 &
xrdb ~/.Xresources
xinput --set-prop 28 'libinput Accel Speed' -0.6 &
