# PATH=$PATH:/home/araozmd/.local/share/gem/ruby/3.0.0/bin
if [ -f ~/.screenlayout/arandr.sh ]; then
    . ~/.screenlayout/arandr.sh
else
  xrandr --auto
fi
# Composer
picom &
# Wallpaper
nitrogen --restore &
# Keyboard layout
setxkbmap latam &
# Java Fonts
# xsettingsd &
# USB support
udiskie -t &
# Network
nm-applet &
# Lock Screen
light-locker &
# SSH Agent
# eval $(ssh-agent) &
# nvidia-settings -a InitialPixmapPlacement=2 &
# xrdb ~/.Xresources
# xinput --set-prop 28 'libinput Accel Speed' -0.6 & # Razer mouse speed

# Notifications
deadd-notification-center &
